{% macro menu_links(menu_tree, route_tid, current_depth, max_depth) %}

  {% import _self as macros %}
  {% for item in menu_tree %}
    {%
    set liClass = [
    item.subitem and current_depth < max_depth ? 'menu-item menu-item--expanded' : 'menu-item',
    route_tid == item.tid ? 'menu-item--active' : '',
    current_depth == 0 ? 'permanent' : '',
    current_depth == 1 ? 'left-dynamic' : '',
    ]
    %}
      {%
    set ulClass = [
    current_depth == 0 ? 'sub-menu-left' : '',
    current_depth == 1 ? 'sub-menu-right' : '',
    ]
    %}
    {%
    set aClass = [
    route_tid == item.tid ? 'active' : '',
    current_depth == 0 ? 'permanent' : '',
    ]
    %}

    <li class="{{ liClass|join(' ') }}">

      <a href="{{ item.url }}" class="{{ aClass|join(' ') }}">
        {% if item.image %}
          <img class="menu-item-image" src="{{ item.image }}"
               {% if item.use_image_style == false %}height="{{ item.height }}" width="{{ item.width }}"{% endif %} />
        {% endif %}
        <span>{{ item.name }}</span>
      </a>
        {% if current_depth == 1 %}
      <span class="arr"></span>
      <span class="arr2"></span>
        {% endif %}

        {% if item.subitem and current_depth < max_depth %}
        {% if item.interactive_parent %}
          <i class="arrow-right parent-toggle" aria-hidden="true"></i><span class="visually-hidden">Expand Secondary Navigation Menu</span>
        {% endif %}
        <ul class="menu {{ ulClass|join(' ') }}">
          {{ macros.menu_links(item.subitem, route_tid, current_depth + 1, max_depth) }}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
{% endmacro %}

{% import _self as macros %}
<ul class="menu hierarchical-taxonomy-menu">
  {{ macros.menu_links(menu_tree, route_tid, 0, max_depth) }}
</ul>